.AboutContainer{
 background-color: rgb(242, 238, 233);
 text-align:center;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-size:30px;
}
.coverImg{
    border-radius: 8px;

}
.pinderText{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 30px;
    text-shadow: .5px .5px red;
}


