.addPetContainer{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 500px;
  background-color: rgb(242, 238, 233);
  /* Center horizontally*/
  margin: 0 auto;
  padding: 0 20px 0 20px;
  transform: translate(0, 5%);
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  padding-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 10%;
}

.form_container {
  margin: 30px;
  margin-bottom: 10%;
  /* Setup */
  position: relative;
  padding-bottom: 200px;
  text-align: center;
  overflow: scroll;
}

.main {
  padding-bottom: 200px;
}

.input {
  max-width: 100%;
  height: 70px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
}

textarea {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  min-height: 120px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}

label {
  margin-top: 1.5rem;
}

.btn {
  border-radius: 25%;
  background-color: black;
  color: white;
  margin-top: 2rem;
  cursor: pointer;
  width: 150px;
  align-items: center;
  margin-bottom: 4%;
}

.uploadBtn {
  border-radius: 25%;
  background-color: black;
  color: white;
  margin-top: 2rem;
  cursor: pointer;
  width: 150px;
  align-items: flex-start;
  margin-bottom: 7%;
}

.uploadBtn:hover {
  background-color:#f0d19a;
  color:black;
  text-decoration: underline;
}

@media (max-width: 768px) {
  form {
    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: 16px;
    margin-bottom: 100%;
  }

  .btn input[type="submit"] {
    width: 200%;
    margin-left: -15px;
  }

  .addPetContainer {
    width: 85%;
  }
}