.addPetContainer .form_container {
  margin: 30px;
  margin-bottom: 10%;
  /* Setup */
  position: relative;
  padding-bottom: 200px;
  text-align: center;
  overflow: scroll;
}

.addPetContainer {
  color: white;
  width: 500px;
  /* background-color: rgb(0, 174, 255); */
  /* Center horizontally*/
  margin: 0 auto;
  padding: 0 20px 0 20px;
  transform: translate(0, 5%);
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  padding-top: 2px;
  margin-bottom: 10px;
  padding-bottom: 25%;
}
.main {
  padding-bottom: 200px;
}

.addPetContainer .input {
  text-align: center;
  width: 100%;
  height: 90px;
  padding: 5px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
  box-shadow: -1px 0px 5px rgb(255, 255, 255),
    inset 0px -0px 20px rgb(-15, -15, -15);
}

.addPetContainer input[type="file"] {
  width: 250px;
  height: 25px;
  text-align: center;
  cursor: pointer;
  background: #1372ee;
  color: white;
  box-shadow: -1px 0px 6px rgb(255, 255, 255),
    inset 0px -0px 20px rgb(-15, -15, -15);
    padding: 10px;
margin-bottom: 0px;
}

.addPetContainer input[type="button"] {
width: 100px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  background: #1372ee;
  color: white;
  box-shadow: -1px 0px 6px rgb(255, 255, 255),
    inset 0px -0px 20px rgb(-15, -15, -15);
    margin-bottom: 10px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 20px;
}
.addPetContainer .btn{
  width: 100px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    background: #1372ee;
    color: white;
    box-shadow: -1px 0px 6px rgb(255, 255, 255),
      inset 0px -0px 20px rgb(-15, -15, -15);
      margin-bottom: 10px;
      border: 1px solid rgb(220, 220, 220);
      border-radius: 20px;
  }

.css-b62m3t-container {
  color: black;
}

input:focus {
  border: 2px solid rgba(0, 206, 158, 1);
}

 .add-pic {
  text-align: center;
  margin-bottom: 70px;
} 


#add-image{
  text-align: center;
  color: black;
  align-content: center;
  background-color: #ebecee;
  margin-top: 20px;
  margin-bottom: 25px;
  height: 150px;
  border: 3px solid #73AD21;
  padding: 1px;
}

textarea {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  min-height: 120px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
  box-shadow: -1px 0px 5px rgb(255, 255, 255),
    inset 0px -0px 20px rgb(-15, -15, -15);
}

.send {
  padding-top: 50px;
}
label {
  margin-top: 1.5rem;
}

input[type="submit"] {
  margin-top: 2rem;
  cursor: pointer;
  background: #1372ee;
  color: white;
  width: 150px;
  align-items: flex-start;
  box-shadow: -1px 0px 6px rgb(255, 255, 255),
    inset 0px -0px 20px rgb(-15, -15, -15);
  margin-bottom: 4%;
  height: 30px;
}

input[type="submit"]:hover {
  background-color: #074f86;
}

@media (max-width: 768px) {
  .addPetContainer  {
    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: 16px;
    margin-top: -60px;
    margin-bottom: 100%;
  }

  .send input[type="submit"] {
    width: 200%;
    margin-left: -15px;
  }

  .creat-pet-profile-cont {
    width: 85%;
  }
}
