.form_container {
    margin: 40px;
    margin-bottom: 30%;
    outline: dashed 1px black;
    /* Setup */
    position: relative;
    padding-bottom: 200px;
  }
  
  form {
    width: 400px;
    background-color: rgb(0, 174, 255);
    /* Center horizontally*/
    margin: 0 auto;
    padding: 0 20px 0 20px;
    transform: translate(0, 5%);
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    box-shadow: 0px 0px 300px rgb(255, 255, 255),
      inset 0px 180px 200px rgb(-15, -15, -15);
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    padding-top: 20px;
    margin-bottom: 30px;
  }
  .main {
    padding-bottom: 200px;
  }
  
  
  input {
    width: 100%;
    height: 35px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    box-shadow: -1px 0px 5px rgb(255, 255, 255),
      inset 0px -0px 20px rgb(-15, -15, -15);
  }
  
  input[type="submit"] {
    margin-top: 2rem;
    cursor: pointer;
    background: #1372ee;
    color: white;
    width: 150px;
    align-items: flex-start;
    box-shadow: -1px 0px 6px rgb(255, 255, 255),
      inset 0px -0px 20px rgb(-15, -15, -15);
    margin-bottom: 4%;
  }
  
  input[type="submit"]:hover {
    background-color: #074f86;
  }
  
  textarea {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    min-height: 120px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    box-shadow: -1px 0px 5px rgb(255, 255, 255),
      inset 0px -0px 20px rgb(-15, -15, -15);
  }
  
  label {
    margin-top: 1rem;
  }
  
  @media (max-width: 768px) {
    form {
      display: flex;
      flex-direction: column;
      margin: 5%;
      width: 90%;
      font-size: 16px;
      margin-bottom: 100%;
    }
  
    input[type="submit"] {
      width: 100%;
      margin-left: 0px;
    }
  
    .form_container h1{
  font-size: 1.5rem;
    }
  }