.findPetContainer {
  margin: 40px;
  margin-bottom: 2%;
  /* Setup */
  /* position: relative; */
  padding-bottom: 200px;
  background-color: rgb(235, 235, 235);
  text-align: center;
}

.petContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.petProfile {
  width: 30%;
  margin: 15px;
  border-radius: 15px;
}

.petProfile img {
  width: 80%;
  border-radius: 10px;
}

.petProfile ul li {
  font-display: left;
  list-style: none;
}

.petProfile ul {
  align-items: left;
  text-align: left;
  list-style: none;
}

.petProfile button {
  margin-top: 20px;
  margin-bottom: 5px;
  align-items: left;
  text-align: left;
  list-style: none;
}

@media (max-width: 768px) {
  .petProfile {
    width: 100%;
    margin: 0;
  }
}
