* {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.findPetContainer {
  max-width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(242, 238, 233);
  padding: 1rem;
  padding: 1rem;
}

.findText {
  background-color: rgb(242, 238, 233);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
  text-align: center;
}

.pupImg {
  width: 400px;
  border-radius: 8px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.dalmImg {
  width: 400px;
  border-radius: 8px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.frenchImg {
  width: 400px;
  border-radius: 8px;
  margin-right: 30px;
  margin-bottom: 30px;
}
