#login-signup-form_container {
  margin: 40px;
  margin-bottom: 2%;
  /* Setup */
  position: relative;
  padding-bottom: 200px;
  background-color: rgb(235, 235, 235);
  text-align: center;
}

.loginContainer {
  width: 400px;
  background-color: rgb(255, 255, 255);
  /* Center horizontally*/
  margin: 0 auto;
  padding: 0 20px 0 20px;
  border-radius: 5px;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  padding-top: 20px;
  margin-bottom: 3px;
}

.signUpContainer {
  width: 400px;
  background-color: rgb(255, 255, 255);
  /* Center horizontally*/
  margin: 0 auto;
  padding: 0 20px 0 20px;
  border-radius: 5px;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  padding-top: 20px;
  margin-bottom: 3px;
}

.loginContainer input,
.signUpContainer input {
  border: 1px solid rgb(202, 191, 191);
  width: 100%;
  height: 20px;
  padding: 10px 2px 10px 2px;
  outline: none;
  border-radius: 4px;
  margin: 10px 0px 10px 0px;
}

#login-signup-form_container input[type="submit"] {
  height: 35px;
  margin-top: rem;
  cursor: pointer;
  background: #1372ee;
  color: white;
  width: 100px;
  border-radius: 5px;
}

#login-signup-form_container input[type="submit"]:hover {
  background-color: #074f86;
}

#login-signup-form_container label {
  margin-top: 1rem;
}

@media (max-width: 768px) {
  #login-signup-form_container {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  #login-signup-form_container form {
    flex-direction: column;
    font-size: 16px;
    margin-bottom: 5%;
  }

  #login-signup-form_container input[type="submit"] {
    width: 100px;
    margin-left: 0px;
  }

  .login-signup-form_container h1 {
    font-size: 1.5rem;
  }

  #login-signup-form_container form {
    width: 80%;
    background-color: rgb(255, 255, 255);
  }
}
