.navbar {
  width: 100%;
  height: 100px;
  background: rgb(5, 57, 116);
  border-bottom: 3px rgb(255, 101, 101) solid;
}

.nav-links {
  margin: 30px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.navbar a {
  margin-top: 30px;
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.toggleButton {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 120px;
}

.toggleButton svg {
  font-size: 50px;
}

.toggleButton button {
  border-radius: 50%;
  box-shadow: 0px -3px 30px rgb(255, 255, 255),
    inset 0px -8px 20px rgb(-15, -15, -15);
  border: 1px solid rgb(255, 255, 255);
  display: inline-block;
  width: 90px;
  height: 90px;
  color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  cursor: pointer;
  top: -50px;
  right: 0;
  width: 95px;
  height: 95px;
  margin-right: px;
  cursor: pointer;
  margin-top: -242px;
  margin-right: 5px;
}

.links a {
  padding: 0;
  float: right;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  padding: 20px 30px;
  display: inline-block;
  transition: all 0.5s ease 0s;
}

.navbar {
  overflow: hidden;
  background-color: rgb(0, 65, 206);
  margin-bottom: 50px;
}
@media only screen and (max-width: 1023px) {
  .links a {
    font-size: 1.5rem;
    padding: 0;
  }
  .navbar .links a {
    font-size: 1rem;
  }

  .navbar .links {
    margin-right: 200px;
    padding: 0;
    margin: 0;
  }

  .links a {
    font-size: 1.2rem;
    width: 100%;
  }
}

@media only screen and (max-width: 1023px) {
  .toggleButton {
    display: relative;
    float: inline-end;
  }
  #close a {
    display: none;
  }
  .navbar a {
    margin: 3px;
  }
  .links {
    padding-top: 0px;
  }
  .links {
    padding-top: 0px;
    height: 10px;
  }
}

@media only screen and (min-width: 1023px) {
  .toggleButton {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }

  #open {
    height: 100px;
  }

  #open .links {
    flex-direction: row;
  }
}
@media only screen and (max-width: 1023px) {
  #open {
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar {
    padding-left: 0;
  }

  .links {
    flex-direction: column;
    font-display: cent;
  }

  .links a {
    font-size: 1.2rem;
    width: 100%;
    margin: 2%;
  }
  .navbar .links {
    margin-right: 0px;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
  }
}
