.cont {
    font-size: 0.5rem;
    display: block;
    width: 95px;
    height: 95px;
    background-color: rgb(255, 255, 255);
    margin-top: -100px;
    margin-left: 20px;
    border-radius: 50%;
    box-shadow: 0px -3px 30px rgb(255, 255, 255),
      inset 0px -8px 20px rgb(-15, -15, -15);
    border: 1px solid rgb(255, 255, 255);
    position: absolute;
    align-items: center;
    overflow: hidden;
    display: inline-block;
    align-items: center;
  }
  
  .profile img {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background-color: black;
  }
  
  @media (max-width: 1024px) {
    .cont {
      display: flex;
      position: absolute;
      top: 100px;
      left: 0;
    }
  }