.cont {
  font-size: 1.2rem;
  color: coral;
  display: block;
  width: 400px;
  height: 100px;
  margin-top: -130px;
  margin-left: 2px;
  position: absolute;
  align-items: center;
  overflow: hidden;
  display: inline-block;
  align-items: center;
}

@media (max-width: 1024px) {
  .cont {
    display: flex;
    position: absolute;
    top: 130px;
    left: 0;
  }
}

@media (max-width: 760px) {
  .cont {
    display: none;
  }
}
